<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Product Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdn.reflowhq.com/v2/toolkit.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Navbar-Right-Links-Dark-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Profile-Edit-Form.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='salesamigo-logo.png') }}">
    <style>
        .badge {
            font-size: 0.75rem;
            min-width: 1rem;
            padding: 0.25rem 0.4rem;
            border-radius: 0.5rem;
        }

        #view-cart-link {
            background-color: #f0f0f0;
        }

        #view-cart-link:hover {
            background-color: #e1e1e1 !important;
        }

        .flash-messages {
            text-align: center;
        }

        a.card-link {
        text-decoration: none;
        }   

        .card-title,
        .card-text {
            color: black;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark py-3 navbar-dark">
        <div class="container">
            <a class="navbar-brand d-flex align-items-center" href="{{ url_for('home') }}">
                <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center me-2 bs-icon" style="background: var(--bs-green);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-currency-dollar">
                        <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718H4zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73l.348.086z"></path>
                    </svg>
                </span>
                <span>Sales Amigo</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navcol-5">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-5">
                <ul class="navbar-nav ms-auto">
                    <!-- Additional nav items can be added here if needed -->
                </ul>
                <a class="btn btn-primary ms-md-2" role="button" href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start bg-body" tabindex="-1" data-bs-backdrop="false" id="offcanvas-menu">
        <div class="offcanvas-header"><a class="link-body-emphasis d-flex align-items-center me-md-auto mb-3 mb-md-0 text-decoration-none" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-bootstrap-fill me-3" style="font-size: 25px;">
                    <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375v2.725z"></path>
                    <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4h-8zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396z"></path>
                </svg><span class="fs-4">Sidebar</span></a><button class="btn-close" type="button" aria-label="Close" data-bs-dismiss="offcanvas"></button>
        </div>
    </div>
    <hr class="mt-0">
    <div class="container" style="padding-bottom: 24px;">
        <div class="row">
            <div class="col-md-6 col-lg-2">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <a class="nav-link link-body-emphasis" href="{{ url_for('home') }}"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-house-door me-2" style="margin-bottom: 4px;">
                            <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"></path>
                            </svg> Home
                        </a>
                        <a class="nav-link link-body-emphasis" href="{{ url_for('shop') }}" style="background: var(--bs-nav-pills-link-active-bg);color: var(--bs-nav-pills-link-active-color);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="white" viewBox="0 0 16 16" class="bi bi-shop me-2" style="margin-bottom: 5px;">
                            <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"></path></svg>
                            <span style="color: white;">Shop</span>
                        </a>
                        <a class="nav-link link-body-emphasis" href="{{ url_for('rewards') }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cash-stack me-2" style="margin-bottom: 4px;">
                            <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"></path>
                            <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"></path>
                            </svg> Rewards
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-9">
                <h1 style="padding-bottom: 23px;text-align: center;font-weight: bold;font-size: 38.112px;">Product Details</h1>
                <div class="d-flex justify-content-between align-items-center mb-4" style="position: relative;">
                    <a href="{{ url_for('cart') }}" id="view-cart-link" data-reflow-type="view-cart" data-reflow-summary-type="dropdown" style="color: var(--bs-body-color); font-weight: bold; font-size: 22px; text-decoration: none; position: relative; padding: 6px 12px; border: 1px solid transparent; border-radius: 6px; background-color: #f0f0f0; transition: background-color 0.3s;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-cart" style="margin-right: 6px; margin-bottom: 5px;">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"></path>
                        </svg>
                        Cart<span id="cart-badge" class="badge bg-danger position-absolute top-0 start-100 translate-middle" style="transform: translateX(50%); display: none;">0</span>
                    </a>
                </div>
                <div class="row mt-5">
                    <div class="col-md-8 offset-md-2">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h3 class="card-title">{{ product.name }}</h3>
                                <p class="card-text"><strong>Description:</strong> {{ product.description }}</p>
                                <p class="card-text"><strong>Brand:</strong> {{ product.brand.brand }}</p>
                                <p class="card-text"><strong>Category:</strong> {{ product.category.category }}</p>
                                <p class="card-text"><strong>Price:</strong> ${{ product.price }}</p>
                                <p class="card-text"><strong>Size:</strong> {{ size }}</p>
                                <p class="card-text"><strong>Gender:</strong> {{ product.gender }}</p>
                                <p class="card-text"><strong>Colour:</strong> {{ color }}</p>
                                <a href="javascript:history.back()" class="btn btn-secondary mt-3">
                                    Back
                                </a>
                                <button class="btn btn-primary mt-3 add-to-cart-btn" 
                                    data-product-id="{{ product.product_id }}" 
                                    data-product-name="{{ product.name }}" 
                                    data-product-description="{{ product.description }}" 
                                    data-product-brand="{{ product.brand.brand }}" 
                                    data-product-price="{{ product.price }}"
                                    data-product-size="{{ size }}"
                                    data-product-gender="{{ product.gender }}"
                                    data-product-color="{{ color }}"
                                    data-product-min_quantity="{{ min_quantity }}">
                                    Add to Cart
                                </button>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <div class="container text-muted py-4 py-lg-5">
        <p class="mb-0" style="color: var(--bs-emphasis-color);padding-top: 0px;padding-left: 0px;margin-right: 6px;padding-bottom: 24px;margin-top: 0px;text-align: center;margin-left: 100px;">Copyright © 2024 Sales Amigo</p>
    </div>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="https://cdn.reflowhq.com/v2/toolkit.min.js"></script>
    <script src="{{ url_for('static', filename='js/bs-init.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Profile-Edit-Form-profile.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
        const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
        const cartBadge = document.getElementById('cart-badge');
        let cartCount = JSON.parse(sessionStorage.getItem('cart'))?.length || 0;

        if (cartCount > 0) {
            cartBadge.textContent = cartCount;
            cartBadge.style.display = 'inline-block';
        }

        addToCartButtons.forEach(button => {
            button.addEventListener('click', function () {
                cartCount++;
                cartBadge.textContent = cartCount;
                cartBadge.style.display = 'inline-block';

                const productId = button.getAttribute('data-product-id');
                const productName = button.getAttribute('data-product-name');
                const productDescription = button.getAttribute('data-product-description');
                const productBrand = button.getAttribute('data-product-brand');
                const productPrice = button.getAttribute('data-product-price');
                const productSize = button.getAttribute('data-product-size');
                const productGender = button.getAttribute('data-product-gender');
                const productColor = button.getAttribute('data-product-color');
                const min_productQuantity = button.getAttribute('data-product-min_quantity');

                const product = {
                    id: productId,
                    name: productName,
                    description: productDescription,
                    brand: productBrand,
                    price: productPrice,
                    size: productSize,
                    gender: productGender,
                    color: productColor,
                    min_quantity: min_productQuantity
                };

                let cart = JSON.parse(sessionStorage.getItem('cart')) || [];
                cart.push(product);
                sessionStorage.setItem('cart', JSON.stringify(cart));
            });
        });
        });
    </script>
</body>

</html>